@import "../valo/valo";

//$v-background-color: hsl(210, 0%, 98%) !default;
$v-font-size: 12px;

$v-unit-size: round(2.5 * $v-font-size);
//$v-unit-size--small: 20px;
//$v-unit-size--tiny: 18px;

$v-layout-margin-top: round($v-unit-size/2);
$v-layout-margin-right: round($v-unit-size/2);
$v-layout-margin-bottom: round($v-unit-size/2);
$v-layout-margin-left: round($v-unit-size/2);

//$v-layout-spacing-vertical: round($v-unit-size/10);
//$v-layout-spacing-horizontal: round($v-unit-size/10);

@mixin talos {
  @include valo;

  .v-verticallayout-dashed {
    border-style: dashed;
  }

  //.v-button-dashed {
  //  border-style: dashed;
  //}

  .v-button-bright {
    //@include valo-button-style($background-color: #ccccff);
    opacity: 0.75;
  }

  //.v-caption-inline-label {
  //  display: inline-block;
  //}

  $green: #3dbc1a;

  .v-horizontallayout-green {
    @include valo-panel-caption-style($background-color: $green);
  }

  .v-panel-footer {
    @include valo-panel-caption-style();
    border-top: valo-border($strength: 0.7);
    border-bottom: 0;
    font-size: $v-font-size;
    font-weight: $v-font-weight;
  }

  //.v-verticallayout-wrapper {
  //  @include valo-panel-well-style();
  //
  //  $bg: scale-color(adjust-color($v-background-color, $lightness: -1%), $saturation: -1.5%);
  //  background: $bg;
  //  color: valo-font-color($bg);
  //}

  .v-verticallayout-gwt-container {
    //background-color: aqua;
  }

  .v-label-divider {
    background-image: url("dotted.png");
    background-repeat: repeat-x;
    background-position: center;
  }

  .v-filterselect-time-unit {
    width: ceil($v-default-field-width/2);
  }

  .v-filterselect-numeric {
    width: ceil($v-default-field-width/2);
  }

  .v-filterselect-on-off {
    width: ceil($v-default-field-width/3);
  }

  .v-filterselect-and-or {
    width: ceil($v-default-field-width/2.5);
  }

  .v-filterselect-up-down {
    width: ceil($v-default-field-width/2);
  }
}